<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/light.css">
    <link rel="shortcut icon" href="/static/images/logo.svg">
    <link rel="shortcut icon" href="/TodoList/static/images/favicon.svg">
    <title>Victor Memo</title>
</head>
<body>
    <div class="root">
        <header>
            <div class="header-wrapper">
                <div class="logo-box">
                    <img class="logo" src="/static/images/logo.svg">
                </div>
                <div class="title-box">
                    <h1>Victor Memo</h1>
                </div>
                <div class="theme-box">
                    <img class="theme-img" src="/static/images/light.svg"></img>
                </div>
                <div class="sign-box">
                    <img class="user" src="/static/images/user.png">
                    <p class="hello">Hello, Alice!</p>
                    <button class="signout" type="button">Sign out</button>
                </div>
            </div>
        </header>
        <div class="middle-wrapper">
            <nav>
                <ul class="navbar">
                    <li class="tags">
                        <div class="tags-wrapper tags-short">
                            <div class="tags-box">
                                <img class="tags-img" src="/static/images/all.svg" height="20px">
                                <label class="tags-label">所有</label>
                            </div>
                        </div>
                    </li>
                    <li class="tags">
                        <div class="tags-wrapper">
                            <div class="tags-box">
                                <img class="tags-img" src="/static/images/no.svg" height="20px">
                                <label class="tags-label">未完成</label>
                            </div>
                        </div>
                    </li>
                    <li class="tags">
                        <div class="tags-wrapper">
                            <div class="tags-box">
                                <img class="tags-img" src="/static/images/yes.svg" height="20px">
                                <label class="tags-label">已完成</label>
                            </div>
                        </div>
                    </li>
                    <li class="tags">
                        <div class="tags-wrapper tags-short">
                            <div class="tags-box">
                                <img class="tags-img" src="/static/images/about.svg" height="20px">
                                <label class="tags-label">统计</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <main>
                <div class="func-wrapper">
                    <div class="search-wrapper">
                        <div class="search-box">
                            <form class="search-form">
                                <input class="search-submit" type="submit" value="Search" />
                                <input class="search-frame" type="search" placeholder="Input the keywords..." name="fsearch" >
                            </form>
                        </div>
                    </div>
                    <div class="add-wrapper">
                        <button class="add">Add New Item</button>
                    </div>
                </div>
                <div class="list-wrapper">
                    <table rules="rows" border="1" bordercolor="#ECF5FF">
                        <tr>
                            <th class="statu-header">Statu</th>
                            <th class="content-header">Content</th>
                            <th class="operation-header">Operation</th>
                        </tr>
                        <tr>
                            <td class="statu-items">
                                <input type="checkbox">
                            </td>
                            <td class="content-items">🧐杭电助手技术部招新,前端部面试</td>
                            <td class="operation-items">
                                <div class="operation-box">
                                    <button class="table-button">Edit</button>
                                    <button class="table-button">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="statu-items">
                                <input type="checkbox">
                            </td>
                            <td class="content-items">🤖学习基本的UI设计知识</td>
                            <td class="operation-items">
                                <div class="operation-box">
                                    <button class="table-button">Edit</button>
                                    <button class="table-button">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="statu-items">
                                <input class="status" type="checkbox">
                            </td>
                            <td class="content-items">😋2023年首次web分享会, 基本的js原型链污染</td>
                            <td class="operation-items">
                                <div class="operation-box">
                                    <button class="table-button">Edit</button>
                                    <button class="table-button">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="statu-items">
                                <input type="checkbox">
                            </td>
                            <td class="content-items">🤡应付各个课程的期中考试</td>
                            <td class="operation-items">
                                <div class="operation-box">
                                    <button class="table-button">Edit</button>
                                    <button class="table-button">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </main>
            <aside></aside>
        </div>
        <footer>
            <div class="footer-wrapper">
                <a class="foot-tip" href="https://www.sunday-webry.com/">✨ In memory of 死神坊ちゃんと黒メイド ✨</a>
            </div>
        </footer>
    </div>
    <script Language="JavaScript" src="/static/js/index.js"></script>
</body>
</html>